<div class="container">
  <div class="head">
    <h1 style="text-align: center;">Register User</h1>
    <hr>

  </div>
  
<form class="register-form" #registerForm="ngForm" (ngSubmit)="registerUser()" [style.fontSize.px]=15>
    <div class="register-block">
<div class="form-group">
    <label for="firstName">First Name</label>
  
      <input class="form-control" [(ngModel)]="newUser.firstName" id="firstName" name="firstName">
 
  </div>
  
<div class="form-group">
    <label for="lastName">Last Name</label>
  
      <input class="form-control" [(ngModel)]="newUser.lastName" id="lastName" name="lastName">
   
  </div>
<div class="form-group">
    <label for="userId">User ID</label>

      <input type="email" class="form-control" [(ngModel)]="newUser.userId" id="userId" name="userId">
   
  </div>
  <div class="form-group">
    <label for="password">Password</label>
   
      <input type="password"  [(ngModel)]="newUser.password" class="form-control" id="password" name="password">
   
  </div>
  <br>
  <div class="row">
    <button type="submit" class="btn btn-primary">Register</button>
    &nbsp; &nbsp; &nbsp;
    <br>
    <button class="logIn-button" mat-raised-button [routerLink]="['/login']" color="accent" >Already have an account? Login</button>
  </div>
  </div>
  </form>
</div>